body{
    background-color: rgb(224, 205, 223);
}

h1{
    color:rgb(24, 5, 19);
    padding: 5px;}
    

.circulo{
        width:10px;
        height:px;
        background-color: rgb(255, 255, 255);
        margin: 55px 9px 100px 2px;
        border-radius: 250px;
        margin-bottom: 1px;
        color:rgb(12, 60, 102);
        
}

.retangulo{
    width: 100%;
    height: 100px;

    background-color: rgba(191, 49, 146, 0.159);
    border: 3px solid #7e0d6f9f;
    float: right;
    text-align: center;
    padding: 5px;

    
    }


.retangulo h1{
    color: #0e030e9b;
    text-align: center;
    text-indent: 50px;
    font-style: italic;
    
}

.box{
    display: flex;
}
.place{
    border-color: #8f4f73 #9d209d #9d209d ;
    border: 3px solid #9d209d5a;
    height: 125px;
    width: 150px;
    margin-bottom: 25px;
    position: static;
    text-align: center;
    
}
.place h2{
    border-bottom: 1px dashed #8f4f73;
    margin: 0;
}
.place {
    float:left;
    width: 660px;
}


.sidenote {
    background-color: #af589530;
    border: 5px solid #9d209d45;
    padding: 13px;
    float:right;

}
.sinode h2{
    font-size: 14px;
    margin-top: 0;
}
.sinode ol{
    font-size: 5 px;
}
.quadrado{
    width: 1050px;
    height: 150px;
    background-color: #dcd8da00;
    margin: 1px 1px 1px 1px;
    text-align:justify;   
}
.quadrado h2{
    border-bottom: 1px dashed #93135cdf;
    margin: 0;

}

.retangulo1{
    width: -100px;
    height: -100px;
    position:absolute;
    margin-top: 350px;
    background-color: rgba(166, 92, 143, 0.102);
    border: 3px solid #c434b14f;
    text-align:center;
    padding: 7px;
    

}



